server:
  port: ${PORT:8082}

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/upfin}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect